*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    background-color: #3b3a3a;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 5px 4px 5px 1px rgb(163, 162, 162);
}
header section.left h3 {
    font-size: 1.5rem;
}
header section.right nav menu{
    display: flex;
    list-style-type: none;
}
menu li{
    padding: 0 1rem;
}
menu li:first-of-type{
    border-right: #d5d5d5 2px solid;
}
menu li a{
    text-decoration: none;
    font-size: 1.25rem;
}

@font-face{
    font-family: "Chalga";
    src: url("../font/ChalgaOutlineDemo-8Mq9D.otf");
}
a {
    padding: 0.25rem;
    text-decoration: none;
    color: #d5d5d5;
    font-family: "Chalga", sans-serif;
    letter-spacing: 2px;
}
menu li a:hover{
    color: #7a2518;
    border-radius: 2px;
    background-color: #d5d5d5;
    transition: ease-in-out, 0.3s;
}
i {
    font-size: 1rem;
}
a.home>i{
    font-size: 0.9rem;
}


/* lyrics below: */
@font-face {
    font-family: "FallingSkyBold";
    src: url("../font/FallingSkyBold-zemL.otf");
}
@font-face {
    font-family: "Mellow";
    src: url("../font/MellowburgundydemoSvg-eZYAO.otf");
}
@font-face {
    font-family: "Moontank";
    src: url("../font/Moontank-gxrlp.otf");
}
@font-face{
    font-family:"Pathway";
    src: url("../font/Pathway-L3xdn.otf");
}
.lyrics{
    text-align: center;
    background-color: #e5e5e5;
}
.lyrics>h3{
    font-family: "FallingSkyBold", sans-serif;
    font-size: 2.5rem;
    padding: 3.5rem 2rem;
    color: #614c4c;
    text-shadow: 2px 1px 2px rgb(21, 21, 21);
}
p{
    font-size: 1.5rem;
    line-height: 1.8rem;
}
p.note{
    font-family: "FallingSkyBold", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 2px;
    -webkit-text-stroke: 0.8px rgb(59, 59, 59);
    text-decoration-line: underline;
}
p.soliloquize{
    font-family: 'Dosis', sans-serif;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1.7px rgb(72, 72, 118);
}
p.blaming{
    font-family: 'Mellow', sans-serif;
    font-size: 1.8rem;
    text-shadow: 1px 1px 2px rgb(233, 35, 0);
}
p.intense{
    font-family: "Moontank", sans-serif;
    color: rgb(243, 136, 65);
    -webkit-text-stroke: 0.7px rgb(239, 212, 12);
    font-size: 1.7rem;
}
p.intense2{
    font-family: "Pathway", sans-serif;
    color: rgb(224, 216, 78);
    -webkit-text-stroke: 0.8px rgb(231, 98, 15);
    font-size: 1.7rem;
    text-shadow: 1px 1px 2px rgb(190, 0, 0);
}
p.fierce{
    font-family: "Pathway", sans-serif;
    color: rgb(255, 153, 0);
    -webkit-text-stroke: 1.3px rgb(209, 38, 38);
    font-size: 1.7rem;
    text-shadow: 1px 1px 2px rgb(164, 2, 2);
}
aside{
    position: fixed;
    bottom: 10vh;
    right: 10px;
}
img{
    width: 150px;
    box-shadow: 5px 4px 5px 1px rgb(163, 162, 162);
}
img:hover{
    border: #c0bebe solid 2px;
    transition: ease-in-out 0.4s;
    width: 50vh;
}